body {
    background-color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 0em;
    font-size: 1em;
}

#welcome_message {
    background-color: cornflowerblue;
    color: white;
    text-align: right;
    padding: 1em;
    margin: 0em;
    border: 0em;
    font-weight: bold;
    font-size: .8em;
}

#welcome_message a {
    color: white;
    font-weight: unset;
    font-size: inherit;
}

#failure_display {
    width: 100%;
    text-align: center;
    background-color: FireBrick;
    padding: .5em;
    color: white;
    position: absolute;
    bottom: 0;
}

#failure_display:empty {
    display: none;
}

.vertical_form {
    width: 50%;
    background-color: lightgrey;
    margin: 2em auto;
    padding: 1em;
    font-size: inherit;
}

.vertical_form .button {
    background-color: green;
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0em 0em 0em 0em;
    font-size: inherit;
}

.vertical_form input {
    width: 100%;
    margin: 0em 0em 1em 0em;
    font-size: inherit;
}

.even {
    background-color: white;
}

.odd {
    background-color: AliceBlue;
}

.climb-list {
    padding: 1em;
    width: 78%;
}

.climb-list td {
    padding: 0em 1em;
}

.climb-record-form {
    width: 100%;
    background-color: lightgrey;
}

.climb-record-form div {
    display: inline-block;
    padding: 0.5em 0.5em;
}

.climb-record-form #grade {
    width: 4em;
}

.climb-record-form #date {
    width: 8em;
}

.climb-record-form input {
    border: none;
    margin: .1em;
    padding: .2em;
}

.climb-record-form .submit {
}

.climb-record-form button {
    background-color: green;
    border: none;
    color: white;
    padding: .2em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.climb-stats {
    float: right;
    width: 20%;
    background-color: lightGrey;
    padding: .5em;
}

.climb-stats .title {
    font-weight: bold;
    font-size: inherit;
}

.climb-stats ul {
    list-style: none;
    background-color: white;
    padding: .2em;
}

.climb-stats .grade {
    display: inline-block;
    width: 3em;
}

.climb-stats .count {
    display: inline-block;
    background-color: cornflowerblue;
    color: white;
    padding: .1em;
    text-align: right;
}

.icon-up::before {
    content: '>'
}

.icon-down::before {
    content: '<'
}

.disabled {
    color: grey;
}
