@media (orientation: portrait) and (max-width: 400px) {
html {
    font-size: 20px ;
    }
}
@media (orientation: portrait) and (min-width: 400px) and (max-width: 600px){
html {
    font-size: 30px ;
    }
}
@media (orientation: portrait) and (min-width: 600px) and (max-width: 800px){
html {
    font-size: 40px ;
    }
}
@media (orientation: portrait) and (min-width: 800px) {
html {
    font-size: 50px ;
    }
}
@media (orientation: landscape) and (max-width: 1600px) {
html {
    font-size: 16px;
    }
}
@media (orientation: landscape) and (min-width: 1600px) {
html {
    font-size: 20px;
    }
}

body {
    background-color: white;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 0em;
    font-size: 1rem;
}

#header_box {
    background-color: cornflowerblue;
    color: white;
    min-height: 4em;  
    margin-bottom: 1em;  
}

#welcome_message {
    text-align: right;
    padding: 1rem;
    margin: 0em;
    border: 0em;
    font-weight: bold;
    font-size: .8rem;
}

#welcome_message a {
    color: white;
    font-weight: unset;
    font-size: inherit;
}

#failure_display {
    width: 100%;
    text-align: center;
    background-color: FireBrick;
    padding: .5rem;
    color: white;
    position: absolute;
    bottom: 0;
}

#failure_display:empty {
    display: none;
}

.climb-stats {
    float: right;
    width: 20%;
    background-color: lightGrey;
    padding: .5rem;
}

.climb-stats .title {
    font-weight: bold;
    font-size: inherit;
}

.climb-stats ul {
    list-style: none;
    background-color: white;
    padding: .2rem;
}

.climb-stats .grade {
    display: inline-block;
    width: 3rem;
}

.climb-stats .count {
    display: inline-block;
    background-color: cornflowerblue;
    color: white;
    padding: .1rem;
    text-align: right;
}

.disabled {
    color: grey;
}

.climb-count-dot {
    fill: cornflowerblue;
}

.climb-count-horizontal-line {
    stroke: lightgray;
    stroke-width: 2px;
}

.climb-count-cell {
    width: 3rem;
    height: 1.5rem;
}

.climb-count-cell svg {
    width: 3rem;
    height: 1.5rem;
}

.climb-points-line {
    stroke: cornflowerblue;
    stroke-width: 30px;
}

.climb-points-cell {
    width: 3rem;
}

.climb-points-cell svg {
    width: 3rem;
    height: 10rem;
}

.history-table td {
    padding: 0px;
}

.history-table th {
    padding: 0px;
}

.import-export .button {
    background-color: green;
    border: none;
    color: white;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 1rem;
}

.filter {
    font-weight: bold;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid grey;
    margin-bottom: .5em;
    font-size: 1rem;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: .2rem 2rem;
    margin: .2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
