.vertical_form {
    max-width: 30em;
    background-color: white;
    margin: 2rem auto;
    font-size: inherit;
}

.vertical_form .button {
    background-color: green;
    border: none;
    color: white;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: inherit;
}

.vertical_form input {
    width: 100%;
    margin-bottom: 2em;
    font-size: inherit;
}
