#navigation{
    background-color: cornflowerblue;
    color: white;
}

#navigation .selected {
    font-weight: bold;
    padding: .5rem 1rem;
    display: inline-block;
}

#navigation a {
    color: lightgray;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
}
