{% load static %}
<!DOCTYPE xhtml>
<html>
    <header>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "base.css" %}">
        <link rel="stylesheet" href="{% static "fontello/css/wspinologia-icons.css" %}">
    </header>



    <body>
        <div id="welcome_message">{% block welcome %}Logged in as: {{ request.user }} /
        <a href="{% url 'logout' %}">Log out</a>{% endblock %}</div>

        {% block content %}{% endblock content %}
    </body>
</html>
