{% load static %}
<!DOCTYPE xhtml>
<html>
    <header>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static "base.css" %}">
        <link rel="stylesheet" href="{% static "navigation.css" %}">
        <link rel="stylesheet" href="{% static "fontello/css/wspinologia-icons.css" %}">
        {% block stylesheets %}{% endblock %}
    </header>



    <body>
        <div id="header_box">
            <div id="welcome_message">
                {% block welcome %}
                    Logged in as: {{ request.user }} / <a href="{% url 'logout' %}">Log out</a>
                {% endblock %}
            </div>
            {% block navigation %}
            <div id="navigation">
                {% block navigation-home %}<span><a href="{% url 'home' %}">Home</a></span>{% endblock %}
                {% block navigation-stats %}<span><a href="{% url 'stats' %}">Stats</a></span>{% endblock %}
                {% block navigation-grades %}<span><a href="{% url 'grades' %}">Grades</a></span>{% endblock %}
                {% block navigation-import %}<span><a href="{% url 'import' %}">Import/export</a></span>{% endblock %}
            </div>
            {% endblock %}
        </div>

        {% block content %}{% endblock content %}
    </body>
</html>
