{% extends "base.html" %}

{% block title %}Wspinologia - log in to your account{% endblock %}

{% block welcome %}Login or <a href="{% url 'register' %}">register</a>{% endblock %}

{% block content %}

<div id="failure_display">{{ failure }}</div>

<form id="login_form" class="vertical_form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    E-mail: <input type="text" name="username"/><br/>
    Password: <input type="password" name="password"/><br/>
    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    <input type="submit" class="button" value="Login"/>
</form>
{% endblock %}
