{% extends "base.html" %}

{% block title %}Wspinologia - log in to your account{% endblock %}

{% block welcome %}-{% endblock %}

{% block content %}

<div id="failure_display">{{ failure }}</div>

<form id="login_form" action="{{ request.path }}" method="post">
    {% csrf_token %}
    Username: <input type="text" name="username"/><br/>
    Password: <input type="password" name="password"/><br/>
    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    <input type="submit" value="Login"/>
</form>

<form id="register_form" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    Username: <input type="text" name="username"/><br/>
    Email: <input type="text" name="email"/><br/>
    Password: <input type="password" name="password"/><br/>
    <input type="submit" value="Register"/>
</form>

{% endblock %}
