{% extends "base.html" %}

{% block title %}Wspinologia - register new account{% endblock %}

{% block welcome %}Register or <a href="{% url 'login' %}">log in</a>{% endblock %}

{% block content %}

<div id="failure_display">{{ failure }}</div>

<form id="register_form" class="vertical_form" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    E-mail <input type="text" name="email"/>
    First name <input type="text" name="name"/>
    Last Name <input type="text" name="surname"/>
    Password <input type="password" name="password"/>
    <input class="submit button" type="submit" value="Register"/>
</form>

{% endblock %}
