
.icon-left-open:before { content: '\e800'; } /* '' */
.icon-yes:before { content: '\e801'; } /* '' */
.icon-no:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */